#alarmList{
    position:fixed;
    display: flex;
    flex-direction: column;
    width:150px;
    right:0;
    bottom:0;
    color:white;
    min-height:50px;
    font-size:12px;
    
}



#alarmList .alarmItem{
    border:5px solid #ffd43b;
    padding:8px;
    background:#343a40;

}


#alarmList .alarmItem .title{
    font-weight: bold;
    margin-bottom:8px;
}

#alarmList .alarmItem .content{
    font-size:10px;
}